<header class="header-with-topbar">
    <div
        class="bg-beige header-top-bar top-bar-light bg-white md-border-bottom border-color-transparent-dark-very-light disable-fixed">
        <div class="container-fluid">
            <div class="row h-45px align-items-center m-0">
                <div class="col-xl-12 col-lg-12 justify-content-center">
                    <marquee class="fs-18 fw-400 text-dark-gray text-center">Lorem ipsum dolor sit, amet consectetur
                        adipisicing
                        elit. Pariatur recusandae porro et..</marquee>
                </div>
            </div>
        </div>
    </div>

    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg header-transparent bg-transparent border-color-transparent-dark-very-light border-bottom header-reverse"
        data-header-hover="light">
        <div class="container-fluid">
            <div class="col-auto col-xxl-2 col-lg-2 me-lg-0 p-0px m-0px">
                <a class="navbar-brand" href="home">
                    <img src="assets/images/logo.png" alt="" class="default-logo">
                    <img src="assets/images/logo.png" alt="" class="alt-logo">
                    <img src="assets/images/logo.png" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto me-20px sm-border-radius-15px menu-order position-static">
                <button class="navbar-toggler text-white float-start" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="text-white navbar-toggler-line"></span>
                    <span class="text-white navbar-toggler-line"></span>
                    <span class="text-white navbar-toggler-line"></span>
                    <span class="text-white navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav alt-font">
                        <li class="nav-item"><a href="about" class="nav-link">Who we are</a></li>
                        <li class="nav-item dropdown dropdown-with-icon-style02">
                            <a href="#" class="nav-link">Fertility</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="#">Intra-Uterine Insemination (IUI)</a></li>
                                <li><a href="#">Green IVF - Minimal Stimulation IVF</a></li>
                                <li><a href="#">IVF-ICSI</a></li>
                                <li><a href="#">IMSI</a></li>
                                <li><a href="#">Pre-Implantation Genetic Diagnosis (PGD)</a></li>
                                <li><a href="#">Preimplantation genetic screening (PGS)</a></li>
                                <li><a href="#">Blastocyst Transfer</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-with-icon-style02">
                            <a href="javascript:void()" class="nav-link">Gynaecology</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="pcos">PCOS Management</a></li>
                                <li><a href="#">Reproductive Surgery for Tubal Blocks </a></li>
                                <li><a href="#">Reproductive Surgery for Ovarian Cysts </a></li>
                                <li><a href="#">Reproductive Surgery for Endometriosis </a></li>
                                <li><a href="#">Polyps Removal</a></li>
                                <li><a href="#">Reproductive Surgery for Chocolate Cysts</a></li>
                                <li><a href="#">Reproductive Surgery for Fibroids</a></li>
                                <li><a href="#">Reproductive Surgery for Bicornuate Uterus</a></li>
                                <li><a href="#">Diagnostic Hysteroscopy - Gold Standard Procedure</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-with-icon-style02">
                            <a href="javascript:void()" class="nav-link">Maternity & Child Care</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="#">High Risk Pregnancy Management</a></li>
                                <li><a href="#">Normal Delivery</a></li>
                                <li><a href="#">LSCS Caeserian Delivery</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="ivf-package" class="nav-link">IVF Package</a></li>
                        <li class="nav-item"><a href="locations" class="nav-link">Our Locations</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-auto col-xxl-3 col-lg-2 d-none d-sm-flex">
                <div class="header-icon">
                    <div class="header-button"><a href="#"
                            class="fs-18 btn text-white bg-base-color border btn-rounded">Book Appointment</a></div>
                </div>
            </div>
        </div>
    </nav>
</header>