<footer class="pt-70px pb-70px xs-pt-30px xs-pb-30px bg-dark-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="alt-font d-block text-base-color mt-4 mb-4 4 fs-22">Quick Links</span>
                <ul class="fs-18">
                    <li><a href="" class="text-white">Who we are?</a></li>
                    <li><a href="" class="text-white">About Founder</a></li>
                    <li><a href="" class="text-white">Doctors</a></li>
                    <li><a href="" class="text-white">IVF Packages</a></li>
                    <li><a href="" class="text-white">Book an Appointment</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="alt-font d-block text-base-color mt-4 mb-4 4 fs-22">Quick Links</span>
                <ul class="fs-18">
                    <li><a href="" class="text-white">Who we are?</a></li>
                    <li><a href="" class="text-white">About Founder</a></li>
                    <li><a href="" class="text-white">Doctors</a></li>
                    <li><a href="" class="text-white">IVF Packages</a></li>
                    <li><a href="" class="text-white">Book an Appointment</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="alt-font d-block text-base-color mt-4 mb-4 4 fs-22">Quick Links</span>
                <ul class="fs-18">
                    <li><a href="" class="text-white">Who we are?</a></li>
                    <li><a href="" class="text-white">About Founder</a></li>
                    <li><a href="" class="text-white">Doctors</a></li>
                    <li><a href="" class="text-white">IVF Packages</a></li>
                    <li><a href="" class="text-white">Book an Appointment</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <span class="alt-font d-block text-base-color mt-4 mb-4 4 fs-22">Quick Links</span>
                <ul class="fs-18">
                    <li><a href="" class="text-white">Who we are?</a></li>
                    <li><a href="" class="text-white">About Founder</a></li>
                    <li><a href="" class="text-white">Doctors</a></li>
                    <li><a href="" class="text-white">IVF Packages</a></li>
                    <li><a href="" class="text-white">Book an Appointment</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="row justify-content-center align-items-center pt-10px pb-10px">
        <div class="col-lg-6 p-0 text-center text-lg-start fs-14">
            <p class="mb-0 text-dark-gray">&copy; 2024 All Rights Reserverd. Srushti hospital</p>
        </div>
        <div class="col-lg-6 p-0 text-center text-lg-end fs-14">
            <p class="mb-0 text-dark-gray">Designed and developed by <a href="https://www.godparticles.co.in/" target="_blank"
                    class="fw-600 text-decoration-line-bottom" style="color: teal">God Particles</a></p>
        </div>
    </div>
</div>