<section class="" data-parallax-background-ratio="0.5" style="background-image: url(assets/images/page-title.jpg)">
    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center extra-small-screen">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <p class="m-auto text-white text-shadow-double-large fw-400 fs-30"
                    data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, rem.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-70px pb-20px xs-pt-30px xs-pb-30px">
    <div class="container">
        <div class="mt-auto breadcrumb breadcrumb-style-01 fs-14 text-dark-gray">
            <ul>
                <li><a href="home" class="text-dark-gray text-dark-gray-hover">Home</a></li>
                <li>Gynaecology</li>
                <li><a href="pcos" class="text-dark-gray text-dark-gray-hover">PCOS Management</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="pt-0 pb-70px xs-pt-30px xs-pb-30px">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 xs-mb-4"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">What is pcos?</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo
                    consequat.
                </p>

                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">Case Study: Roopa's Journey -
                    Beyond Fertility</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Roopa, a 27-year-old software engineer, came to Srushti Fertility Centre seeking help for her
                    persistent health issues rather than fertility concerns. She had been experiencing severe acne,
                    weight gain, and irregular
                    menstrual cycles for years, which she attributed to stress and her sedentary lifestyle.
                </p>
                <img src="assets/images/pcos.jpg" class="mt-30px md-mt-15px mb-60px md-mb-40px border-radius-6px"
                    alt="" />
                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">Symptoms and Struggles:</h4>
                <ul class="list-style-03 text-dark-gray fw-400 fs-19">
                    <li>Acne and Skin Issues: Roopa struggled with acne that affected her self-esteem.</li>
                    <li>Weight Gain: Despite her efforts to maintain a healthy diet, she found it challenging to lose
                        weight.</li>
                    <li>Irregular Periods: Her menstrual cycles were unpredictable, leading to anxiety and frustration.
                    </li>
                </ul>
                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">Main Causes of PCOS:</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">Through consultations with Dr. Samundi Sankari and Dr. Divya
                    Sivaraman, Roopa learned that her
                    symptoms were linked to PCOS, a hormonal disorder affecting many women, especially those with
                    sedentary lifestyles.</p>
                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">Lifestyle Modifications</h4>
                <div class="border border-color-extra-medium-gray border-radius-6px mb-2 overflow-hidden">
                    <p
                        class="ps-30px pe-30px pt-25px pb-25px border-bottom border-1 border-color-extra-medium-gray mb-0">
                        <span class="fw-600 text-dark-gray">Dietary Changes: </span>Roopa was guided to adopt a balanced
                        diet rich in whole foods and low in processed sugars.
                    </p>
                    <p
                        class="ps-30px pe-30px pt-25px pb-25px border-bottom border-1 border-color-extra-medium-gray mb-0">
                        <span class="fw-600 text-dark-gray">Exercise Regimen : </span>A personalized exercise plan was
                        created, incorporating both cardio and strength training.
                    </p>
                </div>
                <div class="d-block d-sm-none bg-dark-gray border-radius-6px p-20px mb-2">
                    <div class="feature-box feature-box-left-icon-middle">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-65px h-65px me-20px lg-me-15px rounded-circle bg-base-color rounded-box">
                            <i class="bi bi-telephone-outbound icon-extra-medium text-white"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="fs-19 lh-22 mb-5px d-block text-white opacity-6 fw-300">Lorem, ipsum dolor sit
                                amet consectetur adipisicing.</span>
                            <a href="tel:12345678910" class="text-white fs-20 fw-500 lh-22">+91 850 850 1111</a>
                        </div>
                    </div>
                </div>
                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">Professional Care</h4>
                <div class="border border-color-extra-medium-gray border-radius-6px mb-2 overflow-hidden">
                    <p
                        class="ps-30px pe-30px pt-25px pb-25px border-bottom border-1 border-color-extra-medium-gray mb-0">
                        <span class="fw-600 text-dark-gray">Stress Management:</span>Mindfulness and yoga sessions were
                        introduced to help manage stress.
                    </p>
                    <p
                        class="ps-30px pe-30px pt-25px pb-25px border-bottom border-1 border-color-extra-medium-gray mb-0">
                        <span class="fw-600 text-dark-gray">Stress Management : </span>Mindfulness and yoga sessions
                        were introduced to help manage stress.
                    </p>
                </div>
                <h4 class="fs-30 text-base-color fw-700 mb-2 d-block">Outcome</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    After six months of dedicated effort and professional guidance, Roopa experienced significant
                    improvements in her skin, weight, and menstrual regularity. She felt empowered and in control of her
                    health.
                </p>
                <section class="bg-beige pt-20px pb-20px">
                    <div class="container">
                        <h4 class="fs-30 text-base-color fw-700 mb-2 d-block text-center">Words from Roopa</h4>
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-12 position-relative blockquote-style-02 text-center">
                                <p class="fs-18 text-dark-gray fw-400 mb-2">What's my style is not your style
                                    and
                                    I don't see how you can define it. It's something that expresses who you are in your
                                    own way.</p>
                                <div class="text-uppercase alt-font text-tussock-yellow fw-600 fs-14 ls-1px">- Desmond
                                    anthony -</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 xs-mb-4"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="bg-base-color border-radius-6px p-20px mb-25px">
                    <h4 class="fs-30 text-white fw-700 mb-2 d-block">Gynaecology Services</h4>
                    <ul class="p-0 m-0 list-style-02">
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Reproductive
                                Surgery for Tubal Blocks </a><i class="feather icon-feather-arrow-right ms-auto"></i>
                        </li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Reproductive
                                Surgery for Ovarian Cysts </a><i class="feather icon-feather-arrow-right ms-auto"></i>
                        </li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Reproductive
                                Surgery for Endometriosis </a><i class="feather icon-feather-arrow-right ms-auto"></i>
                        </li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Polyps
                                Removal</a><i class="feather icon-feather-arrow-right ms-auto"></i></li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Reproductive
                                Surgery for Chocolate Cysts</a><i class="feather icon-feather-arrow-right ms-auto"></i>
                        </li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Reproductive
                                Surgery for Fibroids</a><i class="feather icon-feather-arrow-right ms-auto"></i></li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Reproductive
                                Surgery for Bicornuate Uterus</a><i
                                class="feather icon-feather-arrow-right ms-auto"></i></li>
                        <li class="pb-10px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                class="text-white">Diagnostic
                                Hysteroscopy - Gold Standard Procedure</a><i
                                class="feather icon-feather-arrow-right ms-auto"></i></li>
                    </ul>
                </div>
                <div
                    class="d-none d-sm-block bg-dark-gray border-radius-6px ps-35px pb-25px pt-25px lg-ps-25px mb-25px">
                    <div class="feature-box feature-box-left-icon-middle">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-65px h-65px me-20px lg-me-15px rounded-circle bg-base-color rounded-box">
                            <i class="bi bi-telephone-outbound icon-extra-medium text-white"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="fs-19 lh-22 mb-5px d-block text-white opacity-6 fw-300">Book An
                                Appointment</span>
                            <a href="tel:12345678910" class="text-white fs-20 fw-500 lh-22">+91 850 850 1111</a>
                        </div>
                    </div>
                </div>
                <div class="bg-very-light-gray border-radius-6px p-40px lg-p-25px md-p-35px">
                    <span class="fs-20 ls-minus-05px alt-font text-dark-gray fw-600 mb-25px d-inline-block">Book an
                        Appointment</span>
                    <div class="contact-form-style-01 mt-0">
                        <form action="email-templates/contact-form.php" method="post">
                            <div class="position-relative form-group mb-20px">
                                <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                                <input type="text" name="name"
                                    class="form-control border-white box-shadow-large required"
                                    placeholder="Your name*" />
                            </div>
                            <div class="position-relative form-group mb-20px">
                                <span class="form-icon"><i class="bi bi-envelope"></i></span>
                                <input type="email" name="email"
                                    class="form-control border-white box-shadow-large required"
                                    placeholder="Your email address*" />
                            </div>
                            <div class="position-relative form-group form-textarea">
                                <span class="form-icon"><i class="bi bi-chat-square-dots"></i></span>
                                <textarea placeholder="Your message" name="comment"
                                    class="form-control border-white box-shadow-large" rows="3"></textarea>
                                <input type="hidden" name="redirect" value="" />
                                <button
                                    class="btn btn-medium btn-round-edge btn-base-color btn-box-shadow mt-20px submit w-100"
                                    type="submit">Send message</button>
                                <div class="mt-20px form-results d-none"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>