<section class="">
    <div class="container">
        <div class="row justify-content-center"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="col-12" data-bottom-top="transform:scale(1, 1);" data-top-bottom="transform:scale(1.1, 1.1);">
                <div class="p-30px border-radius-6px align-items-center justify-content-center overflow-hidden cover-background box-shadow-quadruple-large"
                    style="background-image: url('assets/images/cta.png')">
                    <div class="row justify-content-center align-items-center ">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <h3 class="text-dark-gray mb-0 fw-500 ls-minus-1px ps-10px pe-10px">Together, we strive to
                                make
                                your dreams of a family come true
                            </h3>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="pt-5 md-pt-45px contact-form-style-01"
                                data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <h4 class="d-inline-block fw-600 text-dark-gray ls-minus-1px mb-30px">How we can help?
                                </h4>
                                <form action="#" method="post">
                                    <div class="position-relative form-group mb-20px">
                                        <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                                        <input type="text" name="name" class="form-control required"
                                            placeholder="Your name*">
                                    </div>
                                    <div class="position-relative form-group mb-20px">
                                        <span class="form-icon"><i class="bi bi-envelope"></i></span>
                                        <input type="email" name="email" class="form-control required"
                                            placeholder="Your email address*">
                                    </div>
                                    <div class="position-relative form-group form-textarea">
                                        <span class="form-icon"><i class="bi bi-chat-square-dots"></i></span>
                                        <textarea placeholder="Your message" name="comment" class="form-control"
                                            rows="3"></textarea>
                                        <div class="g-recaptcha mt-20px"
                                            data-sitekey="6Lc_zD0pAAAAAO_fsba0xGWEYx46Iu9fqDegbEzY"></div>
                                        <input type="hidden" name="redirect" value="">
                                        <button
                                            class="btn btn-small btn-round-edge btn-dark-gray btn-box-shadow mt-20px m-auto submit"
                                            type="submit">Send message</button>
                                        <div class="form-results mt-20px d-none"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>