.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
    background-color: var(--base-color) !important;
    border-radius: 15px !important;
}

.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
    width: 400px !important;
}

.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a {
    padding: 8px 20px !important;
}

.list-style-01 li {
    border-bottom: 1px solid;
    list-style: number !important;
}

footer .footer-logo img {
    max-height: 80px !important;
}

.page-title-extra-large h1 {
    font-size: 50px !important;
    line-height: 4.7rem !important;
}




@media only screen and (max-width: 600px) {
    .navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
        padding: 10px 15px !important;
    }

    .text-sm-center {
        text-align: center !important;
    }
}