<section class="" data-parallax-background-ratio="0.5" style="background-image: url(assets/images/page-title.jpg)">
    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center extra-small-screen">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <p class="m-auto text-white text-shadow-double-large fw-400 fs-30"
                    data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, rem.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-70px pb-20px xs-pt-30px xs-pb-30px">
    <div class="container">
        <div class="mt-auto breadcrumb breadcrumb-style-01 fs-14 text-dark-gray">
            <ul>
                <li><a href="home" class="text-dark-gray text-dark-gray-hover">Home</a></li>
                <li><a href="about" class="text-dark-gray text-dark-gray-hover">About</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px xs-pt-30px xs-pb-30px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6 position-relative">
                <div class="atropos" data-atropos>
                    <div class="atropos-scale"
                        data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="atropos-rotate">
                            <div class="atropos-inner">
                                <div data-atropos-offset="3">
                                    <img src="assets/images/about/about.jpg" class="border-radius-6px w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fw-800 text-dark-gray xs-fs-45 mb-4"><span class="text-base-color">Creating </span>Little
                    Miracles
                </h2>
                <p class="fs-18 text-black mb-4">At Srushti, we offer comprehensive fertility treatments, guided by
                    specialists with over 60 years of combined experience, led by Dr.S.Samundi Sankari and Dr.Divya
                    Sivaraman and backed by an efficient team.We ensure personalized care in your journey to parenthood.
                    Having brought over 30,000 babies into the world, Srushti stands as one of India’s leading fertility
                    centers, committed to creating happy families.
                </p>
                <p class="fs-18 text-black mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                    reprehenderit, magni quisquam odit molestias fugiat!
                </p>
                <ul class="p-0 m-0 list-style-03 text-dark-gray fw-500">
                    <li>Srushti leads in advanced Assisted Reproductive Technology (ART). </li>
                    <li>Pioneer in Green IVF & Mini IVF with top accolades. </li>
                    <li>Rated No.1 Fertility Centre in Tamil Nadu by GCR.org </li>
                    <li>Extensive donor and surrogacy services, ICMR-registered. </li>
                    <li>Highly Reputed Fertility Centre in India for the ethical practice </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px xs-pt-30px xs-pb-30px bg-beige">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 md-mb-20px sm-mb-0"
                data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fw-800 text-dark-gray xs-fs-45 mb-4"><span class="text-base-color">Vision and </span>Mission
                </h2>
            </div>
            <div class="col-lg-7"
                data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="row">
                    <div class="col-md-5">
                        <div class="fs-22 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Our Vision</div>
                    </div>
                    <div class="col-md-7 last-paragraph-no-margin">
                        <p class="fs-18">We aim to provide reliable, high quality, personalized care for patients across the globe, to
                            treat fertility-related conditions and other areas of women’s care, by adopting advanced
                            technologies, and thereby be a one stop solution centre for women.
                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="fs-22 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Our Mission
                        </div>
                    </div>
                    <div class="col-md-7 last-paragraph-no-margin">
                        <p class="fs-18">Our mission is to provide individualized and compassionate care through comprehensive and
                            competent services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-cta></app-cta>